{{> navbar}}
<h1 class="mb-3 mt-2">Listado de Productos <br></h1>

<form class="row" action="/productos" method="post" enctype="multipart/form-data">
  <div class="col-md-9 row">
    <input class="col-md-5 m-3" type="text" name="name" placeholder="Ingrese Producto" required>
    <input class="col-md-5 m-3" type="number" name="price" placeholder="Ingrese Precio" required>
    <input class="col-md-5 m-3" type="number" name="stock" placeholder="Ingrese Stock" required>
    <input class="col-md-5 m-3" type="file" name="url" accept="image/x-png,image/gif,image/jpeg" required >
    <select name="category" required>
  <option value="Calzado-Femenino" selected> Calzado Femenino</option>
  <option value="Calzado-Masculino">Calzado Masculino</option>
  <option value="Hardware">Hardware</option>
  <option value="SmartPhone">SmartPhone</option>
  <option value="Moto">Moto</option>
  <option value="Auto">Auto</option>
  <option value="Electro">Electro </option>
  <option value="Ropa-Femenina">Ropa Femenina</option>
  <option value="Ropa-Masculina">Ropa Masculina</option>
  <option value="Book-Religion">Book Religion</option>
  <option value="Arte">Arte</option>
  <option value="Fiestas-Navideñas">Fiestas Navideñas</option>
</select>
  </div>  
    <button class="fw-bold col-md-2 mx-3 btn btn-success" type="submit" <b> Crear Producto </b> </button>
 
</form>
<div class="row justify-content-around">
{{#each products}}
    <div class="col-md-3 mx-4 mt-5 tarjeta p-2" >
      <img src="./img/productos/{{url}}" class="card-img-top" alt="...">
      
      <div class="row justify-content-around">
    <form class="col-md-12 row justify-content-around"  action="/productos?_method=PUT" method="post">
       <div class="row justify-content-around col-md-12 mb-2">
       <input type="hidden" name="_id" value={{_id}}>
       <label class="col-md-4 p-0 text-center">Nombre:</label>
       <input class="col-md-8" name="name" placeholder="{{name}}">
       <label class="col-md-4 p-0 text-center">Precio:</label>
       <input class="col-md-8" name="price" placeholder={{price}}>
       <label class="col-md-4 p-0 text-center">Stock:</label>
       <input class="col-md-8" name="stock" placeholder={{stock}}>
        </div>
       <button class="btn btn-success col-md-6 m-1" type="submit"> <b>Actualizar</b> </button>
   </form>

  <form class="col-md-12 row justify-content-around"  action="/productos?_method=delete" method="post">
      <input type="hidden" name="_id" value={{_id}}>
      <button  class="btn btn-danger col-md-6 m-1" type="submit"> <b>Borrar</b> </button>
      </form> 

     </div>
    </div>
 
{{/each}}
</div>